<form action="/restaurants" method='POST' class='edit-container mt-5'>
  <div class="form-group">
    {{formRenderHelper restaurant}}
    {{#each restaurant}}
    <li class="list-group-item">
      <label for="{{@key}}">{{@key}}</label>
      <input type="text" name='{{@key}}' class="form-control" id='{{@key}}'>
    </li>
    {{/each}}
  </div>
  <div class='d-flex flex-row justify-content-around align-items-center mb-2'>
    <a href="/" class="text-secondary">Back to list</a>
    <button type="submit" class='btn btn-secondary'>Save</button>
  </div>
</form>