<h1 class="mb-1 restaurant-show-title">{{restaurant.Name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2 icon"></i>
          類別：
        </span>
        {{restaurant.Category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2 icon"></i>
          地址：
        </span>
        {{restaurant.Address}}
        <a href="{{restaurant.Google_Map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2 icon"></i>
          電話：
        </span>
        {{restaurant.Phone}}
      </p>

      <p class="mb-5">
        {{restaurant.Description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.Image_Link}}" alt="{{restaurant.Name}}"
        style="max-width: 600px;">
    </div>
  </div>
  <div class='d-flex flex-row justify-content-around align-items-center mb-2'>
    <a href="/restaurants/{{restaurant._id}}/edit" class="text-secondary">Edit</a>
    <a href="/" class="text-secondary">Back to list</a>
    <form action="/restaurants/{{restaurant._id}}?_method=DELETE" method='POST' style="display:inline">
      <button type='submit' class='btn btn-secondary'>Delete</button>
    </form>
  </div>
</div>